<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	This is a Twitter clone that is written using the <a href="http://www.ruby-lang.org/en/">Ruby Programming Language</a> in conjuction with the <a href="http://rubyonrails.org/">Ruby on Rails</a> framework.  If you would like to see the code used to create this web application, you may find the code at this <a href="https://github.com/rcxking/sample_app/">Github Repository</a>.  Thanks to the <a href="http://ruby.railstutorial.org/">Ruby on Rails Tutorial</a> for making this code possible! :D.
</p>

<p>
<b>Nerdy Details:</b> BryantNet is a Twitter clone that serves as a test of the Rails Framework.  BryantNet is hosted on Heroku.com using Postgresql as the database.  Development was done on an IBM Thinkpad T420 Laptop running Ubuntu 12.04 - Precise Pangolin.  By using the <a href="http://rspec.info">RSpec Test Suite</a> in conjuction with <a href="https://github.com/guard/guard">Guard</a> and <a href="http://spork.rubyforge.org">Spork</a>, automatic testing of BryantNet was made possible.  Twitter's <a href="http://twitter.github.com/bootstrap">Bootstrap</a> was used to style BryantNet.
</p>

